# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets et variables d'environnement
.env
.env.*
!.env.example
# Dependencies
node_modules/
